# Database connection
DATABASE_URL=sqlite:///./veriwrite.db

# API keys
OPENAI_API_KEY=AIzaSyCVnefpE460aFu0tdu6DFx81sV_xuyTCPE
GOOGLE_SEARCH_API_KEY=AIzaSyCVnefpE460aFu0tdu6DFx81sV_xuyTCPE
GOOGLE_SEARCH_ENGINE_ID=AIzaSyCVnefpE460aFu0tdu6DFx81sV_xuyTCPE

# Server configuration
APP_HOST=0.0.0.0
APP_PORT=8000

# Authentication
JWT_SECRET=your_jwt_secret_here
JWT_ALGORITHM=HS256
JWT_EXPIRES_IN=30d
